/* CSS RESET */

/* Simplifico la forma de aplicar tamaños */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Quito el espaciado predeterminado */
* {
    margin: 0;
    padding: 0;
}

/* Aplico dark mode user-agent-styles */
/* Mejoro la puntuación en los navegadores que lo soporten */
html {
    color-scheme: dark light;
    hanging-punctuation: first last;
}

/* min body height para evitar problemas con display:flex */
body {
    min-height: 100svh;
}

/* imágenes/videos responsive */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Mejoro los títulos en los navegadores que lo soporten */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Mejoro la legibilidad con max-width en párrafos y listas */
/* Prevengo palabras "huérfanas" en los navegadores qeu lo soporten */
p,
li {
    max-width: 65ch;
    text-wrap: pretty;
}

/* ========================================================== */

body {
    background-color: #121212;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr 1fr;
    place-items:center;
}

header, footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

header {
    border-bottom: 0.5rem solid #f2f2f2;
}

footer {
    border-top: 0.5rem solid #f2f2f2;
}

h1, h2, ul, li {
    font-family: system-ui, sans-serif;
    list-style-type: none;
    color: #f2f2f2;
    margin: 0;
}

#listadoProductos {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    max-width: 90vw;
}

#listadoProductos > li {
    display: flex;
    flex-wrap: wrap;
    max-width: 15vw;
    border: 0.5rem solid #f2f2f2;
    border-radius: 0.5rem;
    padding: 1vh 1vw;
}

#listadoProductos > li:hover {
    background: #d9d9d9;
    color: #121212;
    cursor: pointer;
}