/* CSS RESET */

/* Simplifico la forma de aplicar tamaños */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Quito el espaciado predeterminado */
* {
    margin: 0;
    padding: 0;
}

/* Aplico dark mode user-agent-styles */
/* Mejoro la puntuación en los navegadores que lo soporten */
html {
    color-scheme: dark light;
    hanging-punctuation: first last;
}

/* min body height para evitar problemas con display:flex */
body {
    min-height: 100svh;
}

/* imágenes/videos responsive */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Mejoro los títulos en los navegadores que lo soporten */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Mejoro la legibilidad con max-width en párrafos y listas */
/* Prevengo palabras "huérfanas" en los navegadores que lo soporten */
p,
li {
    max-width: 65ch;
    text-wrap: pretty;
}

/* ========================================================== */

body {
    background-color: #121212;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    padding: 0.5rem;
    grid-area: header;
    border-bottom: 0.5rem solid #f2f2f2;

    display: flex;
    justify-content: center;
}

main {
    padding: 0.5rem;
    grid-area: main;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 8fr 1fr 1fr;
    grid-template-areas:
        "productos carrito"
        "productos total"
        "productos comprar"
}

#listadoProductos {
    padding: 0.5rem;
    grid-area: productos;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#listadoProductos > li {
    padding: 0.5rem;
    width: 15vw;
    height: 15vw;
    list-style-type: none;
    border: 0.1rem solid #f2f2f2;
    border-radius: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#listadoProductos > li:hover {
    background-color: #f2f2f2;
    color: #121212;
    cursor: pointer;
}

#carritoProductos {
    padding: 0.5rem;
    grid-area: carrito;
    border-top: 0.1rem solid #f2f2f2;
    border-left: 0.1rem solid #f2f2f2;
    border-right: 0.1rem solid #f2f2f2;
    border-radius: 0.5rem 0.5rem 0 0;
}

#carritoProductos > li {
    list-style-type: none;
}

#totalCarrito {
    padding: 0.5rem;
    grid-area: total;
    display: flex;

    border: 0.1rem solid #f2f2f2;
    border-radius: 0 0 0.5rem 0.5rem;
}

#comprarCarrito {
    margin: 0.5rem;
    grid-area: comprar;
    background-color: #121212;
    color: #f2f2f2;
    border: 0.1rem solid #f2f2f2;
    border-radius: 0.5rem;
}

#comprarCarrito:hover {
    background-color: #f2f2f2;
    color: #121212;
    cursor: pointer;
}

footer {
    padding: 0.5rem;
    grid-area: footer;
    border-top: 0.5rem solid #f2f2f2;

    display: flex;
    justify-content: center;
}